body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

header {
	background-color: #f8f9fa;
	padding: 0.5rem;
	position: sticky;
	top: 0;
}

.nav-links {
	display: flex;
	width: 100%;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-links li {
	display: inline-block;
	margin: 0 1rem;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-size: 1rem;
	transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
	color: #007bff;
}

main {
	flex-grow: 1;
}

footer {
	background-color: #f8f9fa;
	padding: 1rem;
	text-align: center;
	position: sticky;
	bottom: 0;
}
