@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

header {
	background-color: #f8f9fa;
	padding: 0.5rem;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
	display: flex;
	width: 100%;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-links li {
	display: inline-block;
	margin: 0 1rem;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-size: 1rem;
	transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
	color: #007bff;
}

main {
	flex-grow: 1;
	padding: 1rem 3.5rem;
}

main img {
	width: 100%;
	margin: 2rem 0;
	border-radius: 5px;
}

.stats-wrapper {
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #f8f9fa;
	padding: 1rem;
	text-align: center;
	position: sticky;
	bottom: 0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
